{% extends 'main/header_navbar.html' %}

{% block content %}

{% load static %}

<div style="position:absolute; bottom:0; left:0; width: 100%;
background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,0.846673703661152) 0%, rgba(255,255,255,0.8186624991793592) 34%, rgba(255,255,255,0.5189426112241772) 82%, rgba(255,255,255,0) 100%);
 padding-bottom: 10px;" align="center">
<div class="topdowncontainer center" style="width: 50%" align="center">
    <div style="display: flex;">





        {% include 'main/includes/searchbar.html' %}</div>
{% for item in undersearch %}
{{ item.content.decode | safe }}
{% endfor %}


</div>
</div>
</div>
<script>
myFunction()
function myFunction() {
  document.body.style.backgroundColor = "#f3f3f3";
  document.body.style.backgroundImage = "url('{% static "main/bg.jpg"%}')";
}
</script>
{% endblock %}