
      <div class="editbuttoncontainer">
      <div class="editbuttons" align="right">
      <a href="{% url "main:addcomment" id=result.χρεώσεις.id %}"><i title="Προσθήκη Σχόλιου" class="fa fa-commenting-o"></i></a>
            {% if result.χρεώσεις.χειριστής.id == user.id %}
                  {% if not result.χρεώσεις.ημερομηνία_ολοκλήρωσης %}
      <a href="{% url "main:edit_assignment" id=result.χρεώσεις.id %}"><i title="Επεξεργασία" class="fa fa-pencil-square-o"></i></a>
        <a href="{% url "main:complete_assignment" id=result.χρεώσεις.id %}"><i title="Ολοκλήρωση χρέωσης" class="fa fa-check-circle"></i></a>
  {% endif %}
{% endif %}

      </div>
    </div>
