
    {% load tags %}
    <div class="pagination">

  {% if paginator.has_previous %}
  <a href="?{% url_replace request 'page' 1 %}"><<</a>
  <a href="?{% url_replace request 'page' paginator.previous_page_number %}"><</a>
  {% endif %}

  <span>{{ paginator.number }}</span>
  <span>από</span>
  <span>{{ paginator.paginator.num_pages }}</span>

  {% if paginator.has_next %}
        <a href="?{% url_replace request 'page' paginator.next_page_number %}">></a>
        <a href="?{% url_replace request 'page' paginator.paginator.num_pages %}">>></a>

  {% endif %}


</div>