
    <form class="search" action="" method="get">
                <select name="type" style="padding: 2px;border: 1px solid black;border-right: none;width: 180px;text-align-last: center; background-color: WhiteSmoke ;">
  <option value="assignments">ΕΓΓΡΑΦΑ</option>
  <option value="folder_assignments">ΦΑΚΕΛΟΙ</option>
</select>


        <input class="searchinput" type="text" class="searchTerm" name="searchq" placeholder="Αναζήτηση...">
        <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
        </button>
    </form>